

header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

h1{
  color: #AAA;
}

strong{
  color: crimson;
}

p{
  margin: 20px;
  font-size: 1.5em;
}

.layout{
  display: flex;
}


.main{
  background: rgb(255, 255, 255);
  /* background-image: url('./assets/images/homebg2.jpg'); */
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  display: flex;
  
  /* margin-top: -72px; */
  
}

.wrapper{
  padding: 20px;
  height: 100vh;
  flex: 4;
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
}


form {
  display: flex;
  justify-content: flex-start;
  backdrop-filter: blur(20px);
  width: 95%;
  height: 80px;
  padding-left: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 13px 1px rgb(68, 66, 66);
  -moz-box-shadow: 0px 0px 13px 1px rgb(68, 66, 66);
  box-shadow: 0px 0px 13px 1px rgb(68, 66, 66);
  
}

input {
  all: unset;
  font-size: 20px;
  color: rgb(0, 0, 0); 
  width: 90%;
  height: 100%;
  border-radius: 10px;
}

.search {
  transition: background-color;
  all: unset;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* height: 100%; */
  font-size: 20px;
  color: rgb(126, 126, 126);
  border-radius: 10px;
}

.search:hover{
  background-color: #3f423e;
  transition: 0.3s;
}


::placeholder{
  color: rgb(0, 0, 0);
  font-size: 20px;
  opacity: 0.5;
}

.anime-card{

}

aside{
  margin-top: 20px;
  margin-right: 50px;
  backdrop-filter: blur(20px);
  flex: 1;
  
  padding: 10px;
  height: 50vh;
  padding-left: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 13px 1px rgb(68, 66, 66);
  -moz-box-shadow: 0px 0px 13px 1px rgb(68, 66, 66);
  box-shadow: 0px 0px 13px 1px rgb(68, 66, 66);
}

.anime-list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  margin: 32px -8px 0px;
}

figure{
  display: block;
					margin-bottom: 16px;
}

img{
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

h3{
  color: #313131;
				font-size: 24px;
				margin-bottom: 16px;
        margin-left: 50px;
}

a{
  text-decoration: none;
}

img:hover{
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
							transform: scale(1.05);
}

.top-anime {
  margin: 5px;
  text-decoration: none;
  background-color:#e0e0e0;
	border-radius:35px;
	border:1px solid #bfbfbf;
	display:inline-block;
	cursor:pointer;
	color:#808080;
	font-family:Arial;
	font-size:15px;
	padding:11px 31px;
	text-decoration:none;
  transition: background-color;
}

.top-anime:link{
  color: red;
}

.top-anime:hover{
  transition: 0.3s;
  background-color:#3f423e;
} 

 .top-anime:active{
  position:relative;
	top:1px;
}

